<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webischia.serveranalysis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".CreateGraphic" />
        <activity android:name=".ShowGraphic" />
        <activity android:name=".UserSettings" />
        <activity android:name=".Graph_Dashboard" />

        <receiver android:name=".alarm" /> <!-- Alarmı androidmanifestxml ! -->
        <activity
            android:name=".NAV"
            android:label="@string/title_activity_nav"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webischia.serveranalysis.Dashboard" />
        </activity>
        <activity android:name=".CreateAlarm" />
        <activity android:name=".AlarmDashboard" />

        <service
            android:name=".AlarmChecker"
            android:exported="false"></service>
    </application>

</manifest>